[project]
name = "zuno-bc-wallet"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = [
    "circle-developer-controlled-wallets>=8.2.0",
]
